.sforum-list-row {
	border: 1px solid #00CC00;
	margin-bottom: 10px;
}
.sforum-category-row {
	background-color: #009900;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}
.sforum-category-row table{
	margin: 0px;
	padding: 0px;
	
}
.sforum-category-row table td{
	color: #FFF;
	font-weight: bold;
	height: 22px;
}
.sforum-category-row table td a{
	color: #FFF;
	font-weight: normal;
	text-decoration:none;
}
.sforum-forum-table-div {
	padding: 3px 3px 3px 3px;
}
.sforum-forum-table {
}

table.sforum-forum-table {
	margin: 0px;
	padding: 0px;
}
table.sforum-forum-table td {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #CCC;
}
.forum-view-buttons {
	margin: 0px;
	padding: 0px;
	text-align: right;
	padding-right: 10px;
	width: 100%;
	
}
.forum-topic-replies {
	margin: 0px;
	padding: 0px;
}
.forum-topic-replies-div {
	margin: 0px;
	padding: 0px;
	border: 1px solid #009900;
	width: 100%;
	padding: 2px;
}
table.forum-topic-replies-table {
	margin: 0px;
	padding: 0px;
}
table.forum-topic-replies-table td {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #CCC;
}
table.forum-topic-replies-table th {
	background-color: #009900;
	color: #FFF;
}
.forum-topic-reply-row {
	width: 100%;
	padding: 3px 5px 3px 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	border: 1px solid #E1EBF2;
}
.odd-reply {
	background-color: #E1EBF2;
}
.even-reply {
	background-color: #ECF3F7;
}

div.forum-topic-reply-row h3 {
	font-size: 1.1em;
	font-weight: bold;
	border: none;
	color: #115098;
	padding: 2px 0 0 0;
	margin: 0 0 0.3em 0 !important;
	text-transform: none;
	line-height: 125%;
	
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
a.link {
	text-decoration: none !important;
}
a.link:hover {
}
a.link:visited {
	text-decoration: none !important;
}