.sforum-list-row {
	border: 1px solid #00CC00;
	margin-bottom: 10px;
}
.sforum-category-row {
	background-color: #009900;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}
.sforum-category-row table{
	margin: 0px;
	padding: 0px;
	
}
.sforum-category-row table td{
	color: #FFF;
	font-weight: bold;
	height: 22px;
}
.sforum-category-row table td a{
	color: #FFF;
	font-weight: normal;
	text-decoration:none;
}
.sforum-forum-table-div {
	padding: 3px 3px 3px 3px;
}
.sforum-forum-table {
}

table.sforum-forum-table {
	margin: 0px;
	padding: 0px;
}
table.sforum-forum-table td {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #CCC;
}
.forum-view-buttons {
	margin: 0px;
	padding: 0px;
	text-align: right;
	padding-right: 10px;
	width: 100%;
	
}
.forum-topic-replies {
	margin: 0px;
	padding: 0px;
}
.forum-topic-replies-div {
	margin: 0px;
	padding: 0px;
	border: 1px solid #009900;
	width: 100%;
	padding: 2px;
}
table.forum-topic-replies-table {
	margin: 0px;
	padding: 0px;
}
table.forum-topic-replies-table td {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #CCC;
}
table.forum-topic-replies-table th {
	background-color: #009900;
	color: #FFF;
}